<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Logga in</title>
</head>
<body>
<h1>Logga in</h1>
<p>Fyll i formuläret nedan för att logga in.</p>
<form method="post" id="login-form" action="/login">
    <label for="username">Användarnamn</label>
    <input name="username" id="username" placeholder="Användarnamn">
    <label for="password">Lösenord</label>
    <input name="password" id="password" type="password" placeholder="Lösenord">
    <button type="submit">Skicka in</button>
</form>
</body>
</html>
