<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Registrera dig</title>
    <script>
        function signup(){
            /* Validerar att det inmatade lösenordet är giltigt. */
            var passwordInput = document.getElementById("password");
            var usernameInput = document.getElementById("username");
            if (passwordInput.value.length < 8 || usernameInput.value.length < 3){
                console.log("Inte giltiga registreringsdetaljer!")
                alert("Se till att lösenordet du anger är minst 8 tecken långt och att användarnamnet är minst 3 tecken långt.");
                /* Rensa inmatning */
                passwordInput.value = "";
                usernameInput.value = "";
            }
            else {
                console.log("Giltiga registreringsdetaljer!")
                document.getElementById("signup-form").submit();
            }
        }
    </script>
</head>
<body>
<h1>Registrera dig</h1>
<p>Fyll i formuläret nedan för att registrera dig på tjänsten.</p>
<form method="post" id="signup-form" action="/signup">
    <label for="username">Användarnamn</label>
    <input name="username" id="username" placeholder="Användarnamn">
    <label for="password">Lösenord</label>
    <input name="password" id="password" type="password" placeholder="Lösenord">
    <button type="button" onclick="signup()">Skicka in</button>
</form>
</body>
</html>
